@import '_dev';

.CharacterSwimlane {
    flex: 0 1 auto;
    overflow: scroll;
    border: $border-size solid deeppink;
    min-height: 3rem;
      
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    border: $border-size solid darkmagenta;
}
