@import '_dev';

.Timeline {
  flex: 0 1 auto;
  min-height: 12rem;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  border: $border-size solid lightgreen;

  overflow: scroll;
}
