@import '_dev';
@import  url('https://fonts.googleapis.com/css?family=Roboto');

.Toc {
    flex: 0 1 auto;
    // position: fixed;
    // left: 1.5em;
    // top: 5rem;
    // bottom: 0;
    min-width: 15rem;
    width: 15rem;
    overflow: scroll;
    // padding: 3em 0

    border: $border-size solid orange;
}

.Toc .SideBar-group+.SideBar-group {
    margin-top: 1.5em
}

.Toc .SideBar-groupTitle {
    border-bottom: 2px solid rgba(0, 116, 217, .1);
    padding-bottom: .5em;
    margin: 0 0 .5em
}

.Toc .SideBar-item {
    display: block;
    color: #626466
}

.Toc .SideBar-item.SideBar-item--selected {
    color: #0074D9;
    position: relative
}

.Toc .SideBar-item.SideBar-item--selected:after {
    content: '·';
    position: absolute;
    left: -.5em;
    top: 0;
    bottom: 0
}
