@import '_dev';

.UpButton {
  position: absolute;
  right: 20px;
  top: 110px;
  z-index: 1;
}

.DownButton {
  position: absolute;
  right: 20px;
  top: 180px;
  z-index: 1;
}


.TutorialWriter {
  position: relative;

  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  align-items: stretch;
  border: $border-size solid green;

  overflow: hidden;

  .testContainer {
    position: relative;width:200px;height:100px;top:100px;background:yellow;
  }
  .innerdiv1 {
    z-index: 99999; position:absolute; top:-300px;width: 100px;height:400px;background:red;
  }
  .innerdiv2 {
    z-index: 1; position:absolute; width: 100px;height:20px;background:blue;left:10px;top:10px;
  }

  /* Appbar */
  .AppBar {
    width: 100%;
    flex: 0 1 auto;
  }
  /* SeekerContainer */
  .SeekerContainer {
    flex: 0 1 auto;
    position: relative;
    // background-color: coral;
    padding: 0;
    // margin-top: 24px;
    // margin-bottom: 48px;
    // height: 0;
    margin: 0;
    // margin-top: 8px;
    
    // top: 35px;
    // left: 200px;
    // height: 50px;
    width: 100%;
    // height: 27px;
    min-height: 18px;
    height: 18px;
    box-shadow: inset 0 3px 2px rgba(0,0,0,0.1);
    border-top: 12px solid #26C6DA // cyan400
  }

  // Editor

  /* TimelineAndWorkspace */
  .TocTimelineWorkspace {
    flex: 1 1 auto;

    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    align-items: stretch;
    border: $border-size solid green;
    // border: 1px solid green;

    overflow: hidden;
    /* TOC */
    .TimelineWorkspace {
        flex: 1 1 auto;

        min-width: 10rem;
        overflow: auto;

        display: flex;
        flex-direction: column;

        // flex-wrap: nowrap;
        align-items: stretch;
        border: $border-size solid darkyellow;

        .Workspace {
            flex: 1 1 auto;
            min-height: 15rem;
            overflow: auto;

            display: flex;
            flex-direction: row;

            // flex-wrap: nowrap;

            align-items: stretch;
            border: $border-size solid darkyellow;

            /* MainView */
            /* Editor */
        }
    }
  }
}