@import '_dev';

.TutorialWriter {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  border: $border-size solid green;

  overflow: auto;
}

.TutorialWriter-Content {
    flex: 1 1 auto;

    min-width: 15rem;
    width: 15rem;
    overflow: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    border: $border-size solid darkyellow;
}
